.git
.github
.idea
.vscode
.claude
.dart_tool
**/build/
android/.gradle
android/app/build
ios/Pods
ios/.symlinks
macos/Pods
linux/flutter/ephemeral
windows/flutter/ephemeral
integration_test
assets/google_play
android_screenshot.png
.DS_Store
